## Tracking daily changes in historic Agroclimatological Data  
In this notebook we are extracting historic daily agroclimatological data using NASA Power DAV Tool.

### Import Required Packages

In [17]:
import pandas as pd

### Load & Clean Data

In [18]:
df = pd.read_csv('Agroclimatological_Data_NASA.csv', on_bad_lines='skip') 
df.head()

    LAT   LON  YEAR  DOY  PRECTOTCORR     TS   RH2M  GWETROOT
0  5.25 -7.25  2023  274         8.24  26.13  90.62      0.85
1  5.25 -6.75  2023  274         7.76  26.14  90.37      0.81
2  5.25 -6.25  2023  274         6.57  26.38  89.59      0.75
3  5.25 -5.75  2023  274         6.41  26.26  89.52      0.71
4  5.25 -5.25  2023  274         5.68  26.40  89.42      0.66

In [19]:
df.loc[0:]

        LAT   LON  YEAR  DOY  PRECTOTCORR     TS   RH2M  GWETROOT
0      5.25 -7.25  2023  274         8.24  26.13  90.62      0.85
1      5.25 -6.75  2023  274         7.76  26.14  90.37      0.81
2      5.25 -6.25  2023  274         6.57  26.38  89.59      0.75
3      5.25 -5.75  2023  274         6.41  26.26  89.52      0.71
4      5.25 -5.25  2023  274         5.68  26.40  89.42      0.66
...     ...   ...   ...  ...          ...    ...    ...       ...
20491  8.25 -5.75  2024  274         3.07  26.42  83.61   -999.00
20492  8.25 -5.25  2024  274         2.57  26.63  83.06   -999.00
20493  8.25 -4.75  2024  274         2.34  26.79  82.54   -999.00
20494  8.25 -4.25  2024  274         2.31  26.92  82.32   -999.00
20495  8.25 -3.75  2024  274         2.38  26.84  83.25   -999.00

[20496 rows x 8 columns]