## Tracking daily changes in historic Agroclimatological Data  
In this notebook we are extracting historic daily agroclimatological data using NASA Power DAV Tool from March 1st, 2024 to Oct 1st, 2024. Below is a image of the region of data we are observing from Ivory Coast.

<img src="Images/Cocoa_Region.png" alt="Cocoa Regional Map of Ivory Coast" style="width:40%; display: block; margin: 0 auto;">

### Import Required Packages

In [1]:
import pandas as pd
import numpy as np

### Load & Clean Data

In [4]:
df = pd.read_csv('Agroclimatological_NASA_Data.csv', on_bad_lines='skip') 
df.head()

,LAT,LON,YEAR,DOY,TS,RH2M,GWETROOT,PRECTOTCORR,T2M_MIN,T2M_RANGE
0,4.75,-8.25,2024,61,27.36,84.73,0.52,5.06,25.66,2.36
1,4.75,-7.75,2024,61,27.21,83.88,0.51,4.17,25.28,3.61
2,4.75,-7.25,2024,61,27.21,84.68,0.53,5.12,25.30,3.82
3,4.75,-6.75,2024,61,27.26,86.74,0.58,8.10,25.74,2.73
4,4.75,-6.25,2024,61,27.85,86.09,0.52,6.88,26.59,1.67

In [5]:
# Rename column headers
df = df.rename(columns={'TS': 'Earth_Skin_Temp', 'RH2M': 'Rel_Humidity', 'GWETROOT': 'Root_Soil_Wetness', 'PRECTOTCORR': 'Precip_Corrected', 'T2M_MIN' : 'Temp_Min', 'T2M_RANGE': 'Temp_Range'})
df.head()

,LAT,LON,YEAR,DOY,Earth_Skin_Temp,Rel_Humidity,Root_Soil_Wetness,Precip_Corrected,Temp_Min,Temp_Range
0,4.75,-8.25,2024,61,27.36,84.73,0.52,5.06,25.66,2.36
1,4.75,-7.75,2024,61,27.21,83.88,0.51,4.17,25.28,3.61
2,4.75,-7.25,2024,61,27.21,84.68,0.53,5.12,25.30,3.82
3,4.75,-6.75,2024,61,27.26,86.74,0.58,8.10,25.74,2.73
4,4.75,-6.25,2024,61,27.85,86.09,0.52,6.88,26.59,1.67

In [18]:
# Remove all Root_Soil_Wetness = -999 as it indicates water body
df['Root_Soil_Wetness'] = df['Root_Soil_Wetness'].replace(-999, np.nan)
df_cleaned = df.dropna(subset=['Root_Soil_Wetness'])
df_cleaned.head()

,LAT,LON,YEAR,DOY,Earth_Skin_Temp,Rel_Humidity,Root_Soil_Wetness,Precip_Corrected,Temp_Min,Temp_Range
0,4.75,-8.25,2024,61,27.36,84.73,0.52,5.06,25.66,2.36
1,4.75,-7.75,2024,61,27.21,83.88,0.51,4.17,25.28,3.61
2,4.75,-7.25,2024,61,27.21,84.68,0.53,5.12,25.30,3.82
3,4.75,-6.75,2024,61,27.26,86.74,0.58,8.10,25.74,2.73
4,4.75,-6.25,2024,61,27.85,86.09,0.52,6.88,26.59,1.67

In [20]:
# Double check we dropped apprpriate number of rows
null_rows = df.isnull().any(axis=1).sum()
print(null_rows)
print(df_cleaned.shape)

12270
(8370, 10)